@import 'core/settings';
@import 'core/links';

.app {
	background:$color-white;
	margin: 0;
	height: 100vh;
}

// .header__title { }
// .page__main { }
// .main__input { }
// .main__button { }
.main__container {
  background-color: pink;
}
