<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Final exam - Mod. 2 Constanza Sosa</title>
  <link rel="icon" href="favicon.png"/>
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <link href="https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="assets/css/main.css">
</head>
<body class="app">
  <div class="page">
    <partial src="_header.html" label="Header"></partial>
    <partial src="_main.html" label="Main"></partial>
    <script src="assets/js/main.js"></script>
  </div>
</body>
</html>
